@page
@model sspx.web.Pages.Users.IndexModel
@{
    Layout = null;
}
<h2>Protocols (Razor Page)</h2>
<ul>
    @foreach (var user in Model.Users)
    {
        <li>@user.UserId<br />@user.FirstName</li>
    }
</ul>
