@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div>
        <h4>Change Password</h4>
        <span class="text-danger">*Required</span>
    </div>
    <hr />
    <form method="post">
        <p class="text-success">@Model.StatusMessage</p>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-sm-3 text-sm-right">
                <span class="text-danger mt-1">*</span>
                <label asp-for="Input.OldPassword" class="col-form-label font-weight-bold"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Input.OldPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 text-sm-right">
                <span class="text-danger mt-1">*</span>
                <label asp-for="Input.NewPassword" class="col-form-label font-weight-bold"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Input.NewPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 text-sm-right">
                <span class="text-danger mt-1">*</span>
                <label asp-for="Input.ConfirmPassword" class="col-form-label font-weight-bold"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group row mt-4">
            <div class="col-sm-3 text-sm-right"></div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-default btn-primary">Submit</button>
                <a asp-area="Dashboard" asp-page="/Index" class="text-center ml-4 mt-1">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section BottomScripts {
    <partial name="_ValidationScriptsPartial" />
}
