@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
    ViewData["ShowRequiredLabel"] = false;
}

<div class="alert alert-success media" role="alert">
    <i class="fas fa-check-circle mr-2 mt-1"></i>
    <div>
        Thank you for confirming your email.
    </div>
</div>
