@page
@model NewPasswordConfirmationModel
@{
    ViewData["Title"] = "New password confirmation";
    ViewData["ShowRequiredLabel"] = false;
    ViewData["ShowReturnToLogin"] = false;
}

<p>
    Your password has been reset. Please <a asp-area="Identity" asp-page="./Login">click here to log in</a>.
</p>
