@page
@model RequestOnlineAccessConfirmationModel
@{
    ViewData["Title"] = "Request Online Access for SSP";
    ViewData["ShowRequiredLabel"] = false;
}

<div class="alert alert-success media" role="alert">
    <i class="fas fa-check-circle mr-2 mt-1"></i>
    <div>Thank you for your submission. CAP Staff will contact you.</div>
</div>