@page
@model ResetPasswordConfirmation
@{
    ViewData["Title"] = "Reset Password for SSP";
    ViewData["ShowRequiredLabel"] = false;
}

<div class="alert alert-success media" role="alert">
    <i class="fas fa-check-circle mr-2 mt-1"></i>
    <div>
        Thank you. You will receive an email in the next few minutes with instructions for
        resetting your password. If you don’t receive this email, please check your junk mail
        folder or contact us for further assistance.
    </div>
</div>