<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <partial name="_StylesScriptsPartial" />
    @RenderSection("TopScripts", required: false)
    <partial name="_StyleOverridesLinkLast" />
</head>
<body>
    @await Component.InvokeAsync("NavMenu")
    @*
        TODO: if we want cookie consent popup, uncomment and get this to show up correctly (right now it's a weird small button)
        <partial name="_CookieConsentPartial" />
    *@
    <div class="container-fluid">
        @RenderBody()
    </div>
    <partial name="_FooterPartial" />
    @RenderSection("BottomScripts", required: false)
</body>
</html>
