@{
    ViewData["Title"] = "Users";
}
@{
    Layout = null;
}
@model IEnumerable<sspx.core.entities.User>
<h2>Users (MVC View)</h2>
<ul>
    @foreach (var user in Model)
    {
        <li>@user.UserId<br />@user.FirstName</li>
    }
</ul>
